<!DOCTYPE html>
<html>

<head>
    <title>ExamGuard Login</title>
</head>

<body>

    <h1>Candidate Login</h1>

    <form method="POST">

        <label>Email:</label>

        <input
            type="email"
            name="email"
            required
        >

        <br><br>

        <label>Password:</label>

        <input
            type="password"
            name="password"
            required
        >

        <br><br>

        <button type="submit">
            Login
        </button>

    </form>

</body>

</html>