<!DOCTYPE html>
<html>

<head>
    <title>ExamGuard Registration</title>
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <h1>Candidate Registration</h1>

    <form method="POST">

        <label>Name</label>
        <input type="text" name="name">

        <br><br>

        <label>Email</label>
        <input type="email" name="email">

        <br><br>

        <label>Password</label>
        <input type="password" name="password">

        <br><br>

        <button type="submit">Register</button>

    </form>

</body>

</html>